/*----------------------------Remise à 0----------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------Couleur par default----------------------------*/
:root{
    --couleur-arriere-plan : #ffffff;
}

/*----------------------------Mobil First----------------------------*/