main{
    margin-top: 15vh;
}

main h1, main h2{
    margin-top: 3vh;
}

main p{
    width: 40vw;
    margin-bottom: 3vh;
}

/* nav selection zone */
main nav{
    position: relative;
    width: fit-content;
}

main nav ul li a{
    color: var(--couleur-nav);
    font-size: 16px;
    transition: font-size 0.3s ease-in;
    opacity: 80%;
    margin: 3vh;
}

main nav ul li a:hover{
    font-size: 20px;
}

main nav ul li a::after{
    border: none;
    border-radius: 0px;
}

main nav ul li a:hover::after{
    border: none;
    border-radius: 0px;
}

/* tableau des tarifs */
.tableau{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

table{
    border: 3px solid var(--couleur-nav);
    border-radius: 15px;
}

table:last-of-type{
    margin-bottom: 3vh;
}

th, td{
    text-align: left;
    padding: 1vw;
    border-bottom: 1px solid var(--couleur-nav) ;
    border-right: 1px solid var(--couleur-nav);
}

.avec-carte{
    background-color: var(--couleur-bleu-pale);
    border-radius: 0px 15px 0px 0px;
}