main{
    margin-top: 15vh;
}

h1{
    margin-left: 10vw;
}

h2{
    margin-left: 15vw;
}

table{
    margin: 0 auto;
    border: 1px solid var(--couleur-nav);
    border-radius: 15px;
}

th, td{
    text-align: left;
    padding: 1vw;
    border-bottom: 1px solid var(--couleur-nav) ;
    border-right: 1px solid var(--couleur-nav);
}
