/*----------------------------Remise à 0----------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------Police d'écriture----------------------------*/
@font-face {
    font-family: stm_font;
    src: url("../stm-montreal-bold.woff/stm-montreal-bold.woff.ttf");
}
/*----------------------------Couleur par default----------------------------*/
:root{
    --couleur-arriere-plan : #ffffff;
    --couleur-nav : rgb(58, 58, 58);
    --couleur-jaune : #ffe400;
    --couleur-bleu-fonce : #1353be;
    --couleur-bleu-pale: #00aeef;
    --couleur-vert: #00b229;
    --couleur-orange: #ff7600;
}
/*----------------------------Scroll bar----------------------------*/
::-webkit-scrollbar{
    width: 1vw;
}

::-webkit-scrollbar-thumb{
    background-color: var(--couleur-arriere-plan);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--couleur-nav);
}

::-webkit-scrollbar-corner{
    background-color: rgba(22, 21, 21, 0);
}
/*----------------------------Mobil First----------------------------*/
html{
    scroll-behavior: smooth;
}

body{
    font-family: "stm_font", sans-serif;
}

header{
    position:fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--couleur-nav);
    height: 12vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 100;
}

footer{
    background-color: var(--couleur-nav);
    color: var(--couleur-arriere-plan);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

footer div{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div h2{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1vh;
}

footer div p{
    margin-left: 2vw;
}


/*----------------------------Ecran plus grand que 1000px----------------------------*/
@media screen and (min-width: 1000px) {
    .logo{
        background-image: url("../images/logoSTM.png");
        background-size: 30%;
        background-repeat: no-repeat;
        padding: 2vw;
        margin-left: 25px;
        margin-top: 20px;
        width: 20%;
        height: 60%;
    }

    .logo a::after{
        border: 0px solid #ffffff00;
    }

    .logo a:hover::after{
        border: 0px solid #ffffff00;
    }

    nav{
        position:fixed;
        right: 0;
        width: 60vw;
        height: 8vh;
        padding: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vw;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        list-style: none;
    }

    li{
        position: relative;
        transform: scale(1);
        transition: transform 0.5s ease-out;
    }

    li:hover{
        transform: scale(1.3);
    }

    a{
        text-decoration: none;
        color: var(--couleur-jaune);
        font-size: 1.3rem;
    }

    a::after{
        position: absolute;
        top: -20%;
        right: -10%;
        bottom: -10%;
        left: -10%;
        content: "";
        width: 120%;
        height: 140%;
        border: 2px solid var(--couleur-nav);
        border-radius: 0px;
        transition: border 0.5s ease-out, border-radius 0.5s ease-out;
    }

    a:hover::after{
        border: 2px solid var(--couleur-jaune);
        border-radius: 10px;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer div{
        justify-content: start;
        align-items: start;
    }
}