/*----------------------------Section des informations suplémentaires----------------------------*/
main{
    overflow: hidden;
}

h2{
    margin-top: 15vh;
    margin-left: 5vh;
}

.info-sup{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: top;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.une-info{
    display: block;
    padding: 2vw;
    margin: 5vw;
    border: 2px solid var(--couleur-nav);
    border-radius: 15px;
}

.une-info p{
    font-size: 12px;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50vw;
    max-width: 350px;
    min-width: 200px;
}

.bus{
    color: var(--couleur-bleu-pale);
}

.bouteille-eau{
    color: var(--couleur-orange);
}

.sac{
    color: var(--couleur-vert);
}

.pieton{
    color: var(--couleur-bleu-fonce);
}

.banc{
    color: var(--couleur-jaune);
}

@media screen and (min-width: 1000px) {
    .une-info p{
        width: 20vw;
    }

    .une-info{
        padding: 1vw;
        margin: 2vw;
    }

    .info-sup{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items:top;
        justify-content: left;
        flex-wrap: wrap;
        width: 80vw;
        scrollbar-width: 0px;
        overflow-x: auto;
    }
}


