/* ------------ Conteneur general ------------*/
body{
    overflow-x: hidden;
}

main{
    margin-top: 15vh;
}

.info-para{
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80vw;
    position: relative;
}

p{
    margin-top: 2vh;
}

/* ------------ icones ------------ */
.info-para .fa-solid{
    position: absolute;
    font-size: 45px;
    left: 95%;
    top: -1%;
    color: var(--couleur-bleu-fonce);
}


.fa-arrow-left{
    font-size: 50px;
    color: grey;
    transform: scale(1);
    transition: transform 0.3s;
    margin: 3vw;
}

.fa-arrow-left:hover{
    transform: scale(1.3);
    color: var(--couleur-jaune);
}

a#fleche-retour::after{
    display: none;
}